html, body, h1, h2, h3, h4, h5, h6, ul, li {margin: 0; padding: 0; font-weight: normal;}
ul, li{list-style-type: none;}
a {text-decoration: none;}
::-webkit-selection, ::-moz-selection, ::selection { color: inherit;background: transparent;}
:-webkit-full-screen {position: fixed;width: 100%!important;height: 100%!important;top:0;z-index: -100;background: none; transform: translateX(0%) translateY(0%)!important;}
:-ms-fullscreen {width: auto;height: auto;margin: auto;}
object,embed{outline:none;border:none;padding:0px}

.slikeplayer {font:normal 12px Roboto, Helvetica Neue, Arial, sans-serif; position: relative; background: #000; max-height: 100%; max-width: 100%; margin: auto; color: #f9f9f9; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; overflow: hidden;}
.slikeplayer *, .slikeplayer *:after, .slikeplayer *:before {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}
.spl_Fwh, .slikeplayer, .spl_FS, .spl_video, .spl_errorC, .spl_endS, .spl_sEn img {width: 100%; height: 100%;}
.spl_F, .spl_FS,.spl_Ft,.spl_Fb {position: fixed;}
.spl_R {position: relative;}
.spl_A,.spl_Fc, .spl_video {position: absolute;}
.spl_tl, .spl_tr, .spl_Ft {top: 0px;}
.spl_bl, .spl_br, .spl_Fb {bottom: 0px !important;}
.spl_br, .spl_Fb, .spl_Ft, .spl_tr {right: 0px !important; }
.spl_bl, .spl_Ft, .spl_Fb, .spl_tl {left: 0px!important; }
.spl_w, .spl_bt {width: 100%;}

.spl_Fc, .spl_Ta, .spl_bEnd .spl_endO, .spl_loader {transform-origin: 50% 50%;}
.spl_FS, .spl_video {left: 0;top: 0;right: 0;bottom: 0; max-height: 100%;max-width: 100%;}
.spl_Fc {top: 50%;left: 50%; transform: translateX(-50%) translateY(-50%);}
.spl_Ta, .spl_bEnd .spl_endO {top: 50%;  transform: translateY(-50%);}
.spl_O0{opacity: 0!important;}
.spl_O1{opacity: 1!important;}
.spl_H, .spl_Menu, .spl_wh, .spl_setingM .disable { display: none!important;}
.spl_show, .spl_cbtc, .spl_ldot, .fsenter .spl_top, .spl_db {display: block!important;}
.spl_fl{font-size: 1.4em}
.spl_f3{font-size: 3em}
.spl_ch,.ch {cursor: pointer; }
.spl_ca{cursor: auto; }
.spl_l{float: left; }
.spl_fr{float: right; }
.spl_cl{clear: both; }
.spl_b{font-weight: bold; }
.spl_v0{visibility: hidden;}
.spl_v1{visibility: visible;}
.spl_pR15 {padding-right: 15px;}
.spl_aR, .spl_setingM h2, .spl_qul li, .spl_auto b {text-align: right;}
.spl_c, .spl_setingM label, .spl_setting li, .spl_ht, spl_share .spl_ico {text-align: center;}
.spl_i {font-style: italic;}
.spl_wmk {right: 17px; bottom: 0; opacity: 0.7; transform: translateY(-22px);}
.spl_wmk:hover {opacity: 1;}
.spl_cshow .spl_wmk {transform: translateY(-50px);}
.spl_el {overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap;}
.spl_line {display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.spl_z0 {z-index: -1;}
.spl_z1 {z-index: 1;}
.spl_z2 {z-index: 2;}
.spl_z3 {z-index: 3;}
.spl_z4 {z-index: 4;}
.spl_BP {-webkit-transition: opacity 0.2s ease-out; -moz-transition: opacity 0.2s ease-out; -o-transition: opacity 0.2s ease-out; -ms-transition: opacity 0.2s ease-out;}
.spl_mT10 {margin-top: 10px;}
.spl_mB10 {margin-bottom: 10px;}
.spl_mB6 {margin-bottom: 6px;}
.spl_mT30 {margin-top: 30px;}
.spl_bt{padding:10px 0 4px 0;}

.spl_sel, .spl_qul li.active, .spl_qul li:hover, .spl_wT {color: #fff;}

.spl_tbg{background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,0.4) 20%,rgba(0,0,0,0) 99%); background-image: -moz-linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,0.4) 20%,rgba(0,0,0,0) 99%); background-image: -ms-linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,0.4) 20%,rgba(0,0,0,0) 99%); background-image: -o-linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,0.4) 20%,rgba(0,0,0,0) 99%); background-image: linear-gradient(top,rgba(0,0,0,0.4),rgba(0,0,0,0.4) 20%,rgba(0,0,0,0) 99%);}
.spl_bbg{background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 20%, #000000 100%); background-image: -moz-linear-gradient(-90deg, rgba(0,0,0,0.00) 20%, #000 100%); background-image: -ms-linear-gradient(-180deg, rgba(0,0,0,0.00) 20%, #000000 100%); background-image: -o-linear-gradient(-180deg, rgba(0,0,0,0.00) 20%, #000000 100%);}
.spl_top {padding: 10px 10px 4px 10px; width: calc(100% - 20px); display: none;}
.spl_top:after {content: ""; clear: both; display: block;}
.spl_cbtc {padding-top: 5px;}
.spl_pcsbs {height:4px;background:transparent;padding: 8px 0px 6px 0px}
.spl_pcH, .spl_buffer, .spl_pcsbs .marker {height:2px; width: 0%; margin-top: -2px; will-change: width}
.spl_pcspr {background-color: #d0021b; height:3px; margin-top: -3px; width: 0%; will-change: width}
.spl_pcsbs .spl_bg{background:rgba(216,216,216,0.30);height:2px;}
.spl_buffer {background-color:rgba(216,216,216,0.60);}
.spl_pcH{background-color:rgba(255,255,255,0.5)}
.spl_pcsbs .marker{width: 2px; background-color: #dc930a; opacity: 0.8;margin-left: -1px;}
.spl_pcsbs .marker:first-child{margin-left: 0px!important}
.cR {color: #c9000e;}

/*Live*/
.spl_ldot {padding: 6px 10px 5px 20px; margin-left: 10px;}
.spl_dot {background: red; margin: 10px 0 0 4px; cursor: auto; -webkit-animation: fio 1.5s infinite; -moz-animation: fio 1.5s infinite; -o-animation: fio 1.5s infinite; -ms-animation: fio 1.5s infinite; animation: fio 1.5s infinite; width: 8px; height: 8px; border-radius: 8px;}
.spl_gdot {background: rgba(255,255,255,0.7); margin: 9px 0 0 4px; width: 8px; height: 8px; border-radius: 8px;}
.spl_live .spl_pcsbs{padding-bottom: 5px}
.spl_live .spl_pcsbs .spl_bg{height: 1px}
.spl_live .spl_pcspr,.spl_live .spl_cbtc,.spl_live .spl_nob,.spl_live .spl_pcH,.spl_live .spl_buffer,.spl_live .spl_pcsbs .marker, .spl_live .spl_ht, .spl_live .spl_next{display:none!important}
.spl_live .spl_nob {top: 13px;}
.spl_ht{position: absolute;margin-top:-25px; background:rgba(55,55,55,0.7); padding:4px 10px; border-radius: 2px 2px 0 0; -webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -o-border-radius: 2px 2px 0 0; -ms-border-radius: 2px 2px 0 0; color:#f1f1f1; font-size: 11px;line-height: 14px; vertical-align: middle; overflow: hidden; opacity: 0;}
.spl_seek {padding: 0 15px;}
.spl_seek:hover .spl_ht {opacity: 1;}
.spl_seek:hover .spl_pcspr, .spl_seek:hover .spl_pcsbs .spl_bg, .spl_seek:hover .spl_pcH, .spl_seek:hover .spl_buffer, .spl_seek:hover .spl_pcsbs .marker {transform: scale(1, 1.9);}

/*.spl_seek:hover {transform: scale(1, 1.9);}*/

.spl_vlum{ position: relative; width:30px; will-change:width;-webkit-transition: width 0.1s ease-out; -moz-transition: width 0.1s ease-out; -o-transition: width 0.1s ease-out; -ms-transition: width 0.1s ease-out;}
.spl_vlum:hover{width: 118px;}
.spl_vlum:hover .spl_S{opacity:1.0; width: 74px;}
.spl_aniw{will-change:width;-webkit-transition: width 0.3s ease-out; -moz-transition: width 0.3s ease-out; -o-transition: width 0.3s ease-out; -ms-transition: width 0.3s ease-out;}
.spl_anic{will-change:color;-webkit-transition: color 0.3s ease-out; -moz-transition: color 0.3s ease-out; -o-transition: color 0.3s ease-out; -ms-transition: color 0.3s ease-out;}
.spl_ania, .spl_seek:hover {will-change:all;-webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; -ms-transition: all 0.3s ease-out;}
.spl_hidedown{transform: translateY(100%);}
.spl_hideup{opacity: 0;transform: translateY(-100%);}
.spl_vlum .spl_S{ opacity: 0; width: 0px; height: 3px;position: absolute;left: 30px; top: 6px; padding:6px 0px;}
.spl_vlum .spl_S .spl_b{position: absolute; background-color: rgba(255,255,255,0.4); height: 3px;width:100%}
.spl_vlum .spl_S .spl_vs{float: left; background-color: #fff; /*#e02c14 #fb8903*/ height: 3px; width:0%}
.spl_vlum .spl_S ._sk_h{position: absolute;background-color: rgba(255,255,255,0.4); height: 3px;width:0%;}
.spl_vlum_nob {border-radius: 10px; width: 10px; height: 10px; background: #fff; position: relative; top: -4px; float: left; margin-left: -6px;margin-right: -6px;}

.spl_tip{position: fixed;background:rgba(55,55,55,0.9); padding:4px 10px; border-radius: 2px 2px 2px 2px; left:-100px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -o-border-radius: 2px; -ms-border-radius: 2px; color:#f1f1f1; font-size: 11px; line-height: 14px; vertical-align: middle; opacity: 0;overflow: hidden}
.spl_ico:hover .spl_tip {opacity: 1;}

.spl_cvqi{font-size: 1.6em;line-height: 1.7em !important}
.spl_fcr,.spl_cr{color:red}

label.switch {vertical-align: middle; width: 44px; margin: 0 auto;}
label.switch input {opacity: 0; width: 0; height: 0; display: none;}
label.switch input[type=checkbox]:checked+.lever, label.switch.active input[type=checkbox]:checked+.lever {background: rgba(255,255,255,0.5);}
label.switch .lever {content: ""; display: inline-block; position: relative; width: 26px; height: 16px; background-color: #606060; border-radius: 15px; transition: background 0.3s ease; vertical-align: middle;}
label.switch .lever:after {content: ""; position: absolute; display: inline-block; width: 18px; height: 18px; background-color: #838383; border-radius: 21px; box-shadow: 0 1px 3px 1px rgba(0,0,0,0.4); left: -5px; top: -1px; transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;}
label.switch input[type=checkbox]:checked+.lever:after, label.switch.active input[type=checkbox]:checked+.lever:after {background-color: #fff; left: 14px;}
label.switch.active .lever {background: rgba(156,156,156,0.9);}
.spl_AR {width: 15px!important; height: 15px!important; font-size: 15px; line-height: 19px;}

.spl_nob {border-radius: 10px; width: 12px; height: 12px; background: #d0021b; margin: 0 -6px; top: 3px;}

::-webkit-scrollbar{width:.4em}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb{overflow:auto}
::-webkit-scrollbar-thumb{background:rgba(255,255,255,0.2)}

._spl_bottom .spl_ico {filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')"; filter: url(#drop-shadow); -webkit-filter: drop-shadow(-1px 2px 3px rgba(0,0,0,0.3)); filter: drop-shadow(-1px 2px 3px rgba(0,0,0,0.3));}

::-webkit-media-controls {
   /* display:none !important;*/
}
.spl_close {margin: 10px 10px 0 0;}

@-webkit-keyframes fio {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}
@-moz-keyframes fio {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}
@-ms-keyframes fio {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}
@-o-keyframes fio {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}
@keyframes fio {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100{opacity: 1;}
}

@-webkit-keyframes seekH {
    0% {height: 2px; transform-origin:  0% 0%}
    50% {height: 3px; transform-origin:  0% 0%}
    100% {height: 4px; transform-origin:  0% 0%}
}

._sk_bottom{padding: 0px 10px 40px 10px}
.spl_aContainer{height:100%;width:100%;}
.spl_aContainer div, .spl_aContainer div iframe {position: fixed ;top: 0;right: 0;bottom: 0;left: 0;}
._sk_seekbar{height:3px;width:0%;background-color: #dea405;}
#_ctc{font:bold 11px/2.0em Arial;margin-left: 10px;}
#_cfs{font-size: 2.4em;line-height: 1.1em}
.spl_aTxt{font:bold 11px/30px Arial;}
._sk_bottom .spl_ico{height:32px;width:32px;vertical-align: middle;line-height: 1.3em}
.touch ._sk_bottom{display:none};

video::-internal-media-controls-download-button {
    display:none;
}

video::-webkit-media-controls-enclosure {
    overflow:hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100%); /* Adjust as needed */
}
.spl_action button {background: transparent; border: none;}

/*Settings*/
.spl_setingM {color: #6B6B6B;width: 120px;padding: 0;background: rgba(24,24,24,0.95);max-height: calc(100% - 60px);overflow-x: auto; box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50); -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50); -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);}
.spl_setingM label {width: 36px;display: block;margin-left: 8px; cursor: pointer;}
.spl_setingM h2 {font-size: 10px;padding: 10px 10px 11px 10px;text-transform: uppercase;color: rgba(255,255,255,0.35);letter-spacing: 0.5px;}
.spl_setting ul:after, .spl_qul ul:after, .spl_qul p:after {content: ""; display: block; clear: both;}
.spl_setting label {cursor: pointer; height: 29px!important; line-height: 29px; display: block;}
.spl_setting li {position: relative; float: left; color: #dedede; width: 75px; cursor: pointer; padding: 16px 0;}
.spl_setting li:hover {background: #3c3c3c;}
.spl_setting li:last-child {margin-right: 0;}
.spl_setting b {font-weight: normal; margin-top: 4px;}
.spl_setting sup {top: -4px; right: -13px;}

.spl_qul, .spl_options {color: rgba(255,255,255,0.6);overflow-x: auto;}
.spl_qul li {position: relative; ;border-radius: 2px;cursor: pointer;padding: 7px 12px 9px 8px;}
.spl_qul li.active {font-weight: bold;}
.spl_qul li.spl_sel:before {background-position: -45px -49px; transform: scale(0.4); position: absolute; left: 10px; top: 0; width: 36px!important; height: 32px!important;}
.spl_qul li:hover {background-color: rgba(255,255,255,0.1);}

.spl_qul p {margin: 0; padding: 8px; font-size: 12px;}
.spl_qul p:hover {background: rgba(0,0,0,0.2);}
.spl_qul span {padding: 0; margin: 0;}
.spl_qul i {font-size: 14px; line-height: 11px!important; width: auto!important; height: auto!important;}
.spl_upA {left: 50%; top: 4px; width: 20px!important; height: 16px!important; margin-left: -10px!important;}
.spl_wT {opacity: 0.8;}

.spl_auto {padding: 8px 0 6px 0;background: #101010;}
.spl_auto b, .spl_auto label {float: left; line-height: 33px;}
.spl_auto:after {content: ""; clear: both; display: block;}
.spl_auto b {font-weight: normal;font-size: 10px;padding: 0 0px 0 15px;text-transform: uppercase;color: rgba(255,255,255,0.4);letter-spacing: 0.5px;}

/*Icons*/
.spl_ico{cursor: pointer; speak: none; display: block;}
.spl_ico:after, .spl_sEnd .spl_ico:before, .spl_bEnd .spl_ico:before, .spl_qul li.spl_sel:before {content: "";  display: inline-block; background-repeat: no-repeat; background-image: url(../img/sprite.svg); width: 100%; height: 100%;}
.spl_action {padding: 0 7px;}

.spl_action .spl_ico {width: 30px; height: 30px; overflow: hidden; background-repeat: no-repeat; margin: 0 8px 0 0;}
.spl_play {padding-right: 4px;}
.spl_ico.spl_cfs {margin: 0;}
.spl_ico[data-title="Play"]:after {background-position: -573px 0px;}
.spl_ico[data-title="Next"]:after {background-position: -480px 0px;}
.spl_ico[data-title="Pause"]:after {background-position: -523px 1px;}
.spl_ico[data-title="Previous"]:after {background-position: -715px -48px;}
.spl_ico[data-title="Mute"]:after, .spl_ico[data-title="Full Volume"]:after, .spl_ico[data-title="Unmute"]:after {background-position: 4px 1px;}
.spl_ico[data-title="Mute"]:after {background-position: -192px -46px;}
.spl_ico[data-title="Unmute"]:after, .spl_ico[data-title="Full Volume"]:after {background-position: -432px 2px;}
.spl_ico[data-title="Stop"]:after {background-position: 6px -46px; transform: scale(1.17); -moz-transform: scale(1.17); -webkit-transform: scale(1.17);}
.spl_ico[data-title="Settings"]:after {background-position: -667px 4px;}
.spl_ico[data-title="Full screen"]:after {background-position: -147px -1px;}
.spl_ico[data-title="Exit full screen"]:after {background-position: -51px -3px;}
.spl_hV:after {background-position: -288px -46px!important;}

.spl_dim {margin-top: -2px!important;}
.spl_dim:after {background-position: -529px -49px; transform: scale(0.62);}
.spl_dim.active:after {background-position: -577px -49px;}

.spl_BP, .spl_pause, .spl_stop {height:60px;width:60px;border-radius: 70px; background: rgba(0,0,0,0.5); opacity: 0; overflow: hidden;}
.spl_BP:after {background-position: -559px 17px; transform: scale(1.8);}
.spl_pause:after {background-position: -510px 18px; transform: scale(1.5);}
.spl_stop:after {background-position: 19px -29px; transform: scale(1.7); -webkit-transform: scale(1.7); -moz-transform: scale(1.7);}
.spl_playE {height: 50px;width: 50px;border-radius: 50px; background: rgba(0,0,0,0.5); opacity: 0; overflow: hidden;}
.spl_playE:after {background-position: -662px -38px; transform: scale(1.35);}

.spl_sh {width: 26px; height: 24px; margin: 0;}
.spl_sh:after {background-position: -717px 3px;}

.spl_upA:after {background-position: -150px -52px; transform: scale(0.6);}

.spl_cc:after {background-position: -432px -48px;}

.spl_fSc .spl_top {display: block; opacity: 1;}
.spl_t {text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); font-size: 1.3em; line-height: 29px; width: 80%; margin-left: 4px;}

.spl_fBK {background: #3b5997;}
.spl_fBK:after {background-position: -83px 13px;}
.spl_tw {background: #50a7ea;}
.spl_tw:after {background-position: -81px -33px;}
.spl_gp {background: #e54e3d;}
.spl_gp:after {background-position: -177px 16px;}
.spl_wh {background: #67B215;}
.spl_wh:after {background-position: -323px -34px; transform: scale(1.5);}
.spl_lnk {background: #757575;}
.spl_lnk:after {background-position: -275px 14px;}

.spl_close {width: 30px!important; height: 30px!important; line-height:30px; border-radius: 30px; z-index: 2;}
.spl_close:hover {background: rgba(255,255,255,0.2); border-radius: 2px; opacity: 0.9}
.spl_close:after {background-position: -474px -41px;}

/*Share Overlay*/
.spl_overlay {width: 100%;height: 100%;background: rgba(51,51,51,0.9);}
.spl_share .spl_shC {overflow: hidden;}
.spl_shC {overflow-x: auto; overflow-y: hidden;}
.spl_icL {display: flex;}
.title {font-size: 22px; color: #9B9B9B; text-transform: uppercase;}
.spl_share .spl_ico {border-radius: 60px; width: 60px; height: 60px; line-height: 60px; margin: 15px 30px 0 0;}
.spl_share .spl_ico:last-child {margin-right: 0;}

/*End Screen*/
.spl_endS {background: rgba(0,0,0,0.95);}
.spl_endS a {color: #9B9B9B; font-size: 13px;}
.spl_endO {width: calc(100% - 345px);}

.spl_endC small {font-size: 14px; color: #828282;}
.spl_endP {width: 155px; height: 100px; margin: 10px auto;}

.spl_sdkLst {height: 100vh; font-size: 13px; color: #DEDEDE; overflow-y: auto; overflow-x: hidden; max-height: 100%;}
.spl_sdkLst li:after, spl_endS:after, .spl_error i:after {content: ""; clear: both; display: block;}
.spl_duration {background: rgba(31,31,31,0.87); color: #9B9B9B; font-size: 12px; font-style: normal; padding: 4px 6px; border-radius: 3px 0 0 0;}
.spl_lhs {width: 135px; height: 75px; background: url(../img/default.jpg) no-repeat top left; overflow: hidden;}
.spl_lhs img {width: 100%; height: auto; display: block;}
.spl_rhs {font-size: 12px; color: #DEDEDE; padding: 8px 10px; overflow: hidden; line-height: 16px; text-align: left;}
.spl_rhs .spl_title {font-weight: normal; overflow: hidden;}

.spl_sdkLst li {background: #323232; margin: 10px 0; cursor: pointer;}
.spl_rhs small  {font-size: 12px; color: #828282;}

.spl_sLs {width: 300px; background: rgba(50,50,50,0.95); box-shadow: 0 0 9px 0 rgba(0,0,0,0.50); height: 77px; overflow: hidden;}
.spl_sLs .spl_rhs {font-size: 12px; line-height: 18px; width: 145px; height: 49px;}

/*Error Message*/
.spl_error {font-size: 1.5em; line-height: 20px;}
.spl_error i {display: block; width: 50px; height: 50px; margin: 0 auto;}
.spl_error i:after {background-position: 7px 6px; transform: scale(1.5);}
.spl_reload, .spl_cancel {border-radius: 2px; font-size: 13px; color: #fff; padding: 8px 15px;}
.spl_reload {border: 1px solid rgba(255,255,255,0.2); display: inline-block; margin-top: 13px; text-transform: uppercase; background: rgba(255,255,255,0.1);}
.spl_cancel {background: transparent;  border: none;}
.spl_reload:hover, .spl_cancel:hover {background: rgba(255,255,255,0.4);}
.spl_reload:focus, .spl_cancel:focus {background: rgba(0,0,0,0.9); border:1px solid rgba(255,255,255,0.2); color: rgba(255,255,255,0.6); outline: 0;}

/*Ads*/
._spl_bottom {padding: 6px 10px 1px 2px;}
._spl_bottom .spl_ico {width: 32px; height: 32px; padding-bottom: 10px; margin-right: 5px;}

.spl_ad_play {width: 40px; height: 40px;}
.spl_ad_play:after {background-size: 45px 45px; background-position: -9px -7px;}

/*Full Screen*/
.spl_fSc .spl_top .spl_ico:after, .spl_fSc .spl_bt .spl_ico:after {-webkit-transform: scale(1.4); transform: scale(1.4);}
.spl_fSc .spl_action .spl_ico {margin-right: 25px;}
.spl_fSc .spl_action {padding: 5px 7px 8px 9px;}
.spl_fSc .spl_dot {margin-top: 11px;}
.spl_fSc .spl_action .spl_ico {height: 32px!important;}
.spl_fSc .spl_ico[data-title="Play"]:after {background-position: -573px 2px;}
.spl_fSc .spl_ico[data-title="Next"]:after {background-position: -478px 2px;}
.spl_fSc .spl_ico[data-title="Previous"]:after {background-position: -711px -46px;}
.spl_fSc .spl_ico[data-title="Pause"]:after {background-position: -523px 2px;}
.spl_fSc .spl_ico[data-title="Mute"]:after {background-position: -189px -44px;}
.spl_fSc .spl_ico[data-title="Unmute"]:after, .spl_fSc .spl_ico[data-title="Full Volume"]:after {background-position: -429px 4px;}
.spl_fSc .spl_ico[data-title="Settings"]:after {background-position: -663px 6px;}
.spl_fSc .spl_ico[data-title="Exit full screen"]:after {background-position: -46px 1px;}
.spl_fSc .spl_ico.spl_cfs {margin-right: 8px;}
.spl_fSc .spl_cbtc {margin-left: 8px; padding-top: 5px; font-size: 14px;}
.spl_fSc .spl_vlum .spl_S {left: 49px; top: 5px; padding: 6px 0px;}
.spl_fSc .spl_vlum .spl_S, .spl_fSc .spl_vlum .spl_S .spl_b, .spl_fSc .spl_vlum .spl_S .spl_vs {height: 5px;}
.spl_fSc .spl_vlum_nob {width: 14px; height: 14px; margin-right: -9px;}
.spl_fSc .spl_pcsbs, .spl_fSc .spl_pcsbs .spl_bg, .spl_fSc .spl_pcH, .spl_fSc .spl_buffer, .spl_fSc .spl_pcsbs .marker {height: 6px;}
.spl_live.spl_fSc .spl_pcsbs .spl_bg {height: 2px!important;}
.spl_fSc .spl_pcspr {height: 6px; margin-top: -6px;}
.spl_fSc .spl_sh{width: 30px; height: 30px;}
.spl_fSc .spl_ico[data-title="Stop"]:after {background-position: 6px -43px;}
.spl_fSc .spl_pcH, .spl_fSc .spl_buffer {margin-top: -6px;}
.spl_fSc .spl_nob {top: 5px;}
.spl_fSc .spl_vlum:hover {width: 132px;}
.spl_fSc .spl_dim:after, .spl_fSc .spl_dim.active:after {transform: scale(0.9)!important;}
.spl_fSc .spl_hV:after {background-position: -285px -44px!important;}
.spl_fSc .spl_bt {padding-bottom: 0;}
.spl_fSc .spl_setingMenu {bottom: 70px; right: 4px;}
.spl_fSc .spl_aBL, .spl_fSc .spl_aBR, .spl_fsR {margin-bottom: 70px;}
.spl_fSc .spl_BP, .spl_fSc .spl_pause {height: 75px; width: 75px;}
.spl_fSc .spl_BP:after, .spl_fSc .spl_pause:after {transform: scale(1.7);}
.spl_fSc .spl_BP:after {background-position: -651px -26px; }
.spl_fSc .spl_pause:after {background-position: -503px 25px;}
.spl_fSc .spl_setingM, .spl_fSc .spl_overlay  {zoom: 1.2;}
.spl_fSC .spl_ldot {padding: 8px 0 0 25px;}
.spl_fSC .spl_gdot {margin: 11px 0 0 8px;}

@-moz-document url-prefix() { 
  .spl_fSc .spl_setingM.spl_aBR{
     margin-bottom: 90px;
     margin-right: 42px;
  }
  .spl_fSc .spl_setingM {transform: scale(1.2);}
}
.progress {position: relative; height: 2px; display: block; width: 100%; background-color: #969495; border-radius: 2px; overflow: hidden;}
.progress .indeterminate {background-color: #fff; height: 2px; width:0%;}
.progress .indeterminate:before, .progress .indeterminate:after {content: ''; position: absolute; background-color: inherit; top: 0; left: 0; bottom: 0; will-change: left, right;}
.spl_aBR {margin: 0 15px 50px 0;}
.spl_aBL {margin: 0 0 50px 10px;}
.spl_sEn {width: 220px; height: 40px; background: rgba(50,50,50,0.95); box-shadow: 0 0 6px 0 rgba(0,0,0,0.50);}
.spl_sEn:after {content: ""; clear: both; display: block;}
.spl_sEn .spl_lhs {width: 65px; height: 40px;}
.spl_sEn .spl_rhs {line-height: 15px; padding: 4px 10px; font-size: 11px; width: 134px;}
.spl_mH {max-height: 100px;}
.spl_mH h2 {padding: 0;}
.spl_mH li {margin: 10px 10px 0 0;}
.spl_aB { font-size: 10px; color: rgba(255,255,255,0.8); margin-left: 3px;}

/*End Screen*/
.spl_endS h2 {font-size: 14px; color: #F0F0F0; line-height: 24px; margin-top: 8px; padding: 0 25px; overflow: hidden;}
.spl_sEnd .spl_endO {bottom: 0; left: 0; width: calc(100% - 20px)!important; background: #eee; height: 30px; padding: 10px; border-top: 4px solid #d1021c; border: 1px solid rgba(0,0,0,0.05);}
.spl_sEnd h2 {color: #333; line-height: 16px; padding: 6px 5px 7px 5px; float: left; width: 70%; margin-top: 0; text-align: left;}
.spl_sEnd a {color: #1b59a6; line-height: 30px; float: right;}
.spl_sEnd:after, .spl_endC:after, .spl_sEnd a:after {clear: both; display: block; content: "";}
.spl_sEnd .spl_replay {width: 74px; height: 36px; background: none; border: none;}
.spl_sEnd .spl_endC {width: 100%; text-align: left;}
.spl_sEnd  .spl_sdkLst {margin: 0 auto; width: 300px; padding: 4px 0;}
.spl_sEnd .spl_rhs {width: 140px;}
.spl_bEnd .spl_endC {width: 420px; max-width: 100%; margin: 0 auto; padding-bottom: 16px;}
.spl_bEnd h2 {color: #F0F0F0; line-height: 24px; margin-top: 8px; padding: 0 25px; overflow: hidden;}
.spl_bEnd .spl_sdkLst {float: right;}
.spl_bEnd .spl_sdkLst {border: 1px solid rgba(78,78,78,0.3); border-radius: 2px 2px 0 2px; background: rgba(50,50,50,0.5); width: 305px; padding: 4px 14px; margin: 3px 0;}
.spl_bEnd .spl_rhs {width: 132px; height: 28px;}

.spl_sEnd .spl_replay:after, .spl_bEnd .spl_replay:after {display: none;}
.spl_sEnd .spl_replay:before {background-position: -623px 1px; transform: scale(0.68); width: 30px; height: 33px; float: left;}
.spl_bEnd .spl_replay:before {background-position: -614px 9px; transform: scale(0.8); width: 45px; height: 45px; display: block; margin: 3px auto; border-radius: 45px; border: 2px solid #606060;}

.spl_replay:after, .spl_ico[data-title="Replay"] {height:45px;width:45px;border-radius: 45px; border: 2px solid #606060; background: rgba(216,216,216,0.10);}
.spl_replay:after, .spl_ico[data-title="Replay"]:after {background-position: -615px 9px;}
.spl_copy {width: 100%; padding: 45px 0; font-size: 16px; transform: translateY(-100%);}
.spl_copy.show { transform: translateY(0%);}

/*Loader*/
.spl_loader{position: absolute; width: 12px; height: 12px; border-radius: 12px; background-color: #fff; -webkit-animation: loader 1s ease-in-out infinite; animation: loader 1s ease-in-out infinite;}
.spl_loader:before{content: ""; position: absolute; background-color: rgba(255, 255, 255, .5); top: 0px; left: -25px; height: 12px; width: 12px; border-radius: 12px;}
.spl_loader:after{content: ""; position: absolute; background-color: rgba(255, 255 ,255 ,.5); top: 0px; left: 25px; height: 12px; width: 12px; border-radius: 12px;}

@-webkit-keyframes loader{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}
.spl_loader3 {position: absolute; width: 25px; height: 25px; border-radius: 12px; background-color: #fff; -webkit-transform-origin:  50% 50%; transform-origin:  50% 50% ; -webkit-animation: fio 1.5s infinite; animation: fio 1.5s infinite;}

/*Banner Ad*/
.spl_banner {width: 90%; margin-left: auto; margin-right: auto;}
.spl_banner img {width: 100%;}
.spl_aC {width: 25px; height: 25px; background: rgba(0,0,0,0.2); border-radius: 2px; margin: 4px 4px 0 0;}
.spl_aC:hover {background: rgba(255,255,255,0.1);}
.spl_aC:after {background-position: -475px -45px; transform: scale(0.6); opacity: 0.7;}
.spl_aC:hover:after {opacity: 1;}

.spl_nonL{
    position: absolute;
    bottom:40px;
    left:30px;
    right:40px;
    height:40px;
    width:auto;
}